<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>True</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\inetpub\wwwroot</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AjaxControlToolkit.dll">
      <publishTime>09/27/2011 21:48:49</publishTime>
    </File>
    <File Include="bin/bin/AjaxControlToolkit.dll">
      <publishTime>09/27/2011 21:48:49</publishTime>
    </File>
    <File Include="bin/YourDay.BLL.dll">
      <publishTime>04/21/2012 21:31:57</publishTime>
    </File>
    <File Include="bin/YourDay.BLL.pdb">
      <publishTime>04/21/2012 21:31:52</publishTime>
    </File>
    <File Include="bin/YourDay.Constants.dll">
      <publishTime>04/14/2012 20:01:39</publishTime>
    </File>
    <File Include="bin/YourDay.Constants.pdb">
      <publishTime>04/14/2012 20:01:37</publishTime>
    </File>
    <File Include="bin/YourDay.DAL.dll">
      <publishTime>04/14/2012 20:02:10</publishTime>
    </File>
    <File Include="bin/YourDay.DAL.pdb">
      <publishTime>04/14/2012 20:02:09</publishTime>
    </File>
    <File Include="bin/YourDay.Helper.dll">
      <publishTime>04/14/2012 20:01:21</publishTime>
    </File>
    <File Include="bin/YourDay.Helper.pdb">
      <publishTime>04/14/2012 20:01:20</publishTime>
    </File>
    <File Include="bin/YourDay.Masquaradue.dll">
      <publishTime>04/14/2012 20:01:03</publishTime>
    </File>
    <File Include="bin/YourDay.Masquaradue.pdb">
      <publishTime>04/14/2012 20:01:00</publishTime>
    </File>
    <File Include="bin/YourDay.POCO.dll">
      <publishTime>04/14/2012 20:00:45</publishTime>
    </File>
    <File Include="bin/YourDay.POCO.pdb">
      <publishTime>04/14/2012 20:00:44</publishTime>
    </File>
    <File Include="bin/YourDay.Security.dll">
      <publishTime>04/21/2012 21:32:22</publishTime>
    </File>
    <File Include="bin/YourDay.Security.pdb">
      <publishTime>04/21/2012 21:32:19</publishTime>
    </File>
    <File Include="bin/YourDay.Site.dll">
      <publishTime>04/22/2012 16:53:44</publishTime>
    </File>
    <File Include="bin/YourDay.Site.pdb">
      <publishTime>04/22/2012 16:53:43</publishTime>
    </File>
    <File Include="catalog.aspx">
      <publishTime>03/19/2012 00:09:45</publishTime>
    </File>
    <File Include="Contractor.aspx">
      <publishTime>03/19/2012 00:12:16</publishTime>
    </File>
    <File Include="ContractorCabinet.aspx">
      <publishTime>12/22/2011 21:38:26</publishTime>
    </File>
    <File Include="Controls/Auth/Authentication.ascx">
      <publishTime>11/29/2011 22:10:28</publishTime>
    </File>
    <File Include="Controls/Auth/HeaderLinks.ascx">
      <publishTime>04/22/2012 16:11:43</publishTime>
    </File>
    <File Include="Controls/Auth/LoginRegister.ascx">
      <publishTime>04/21/2012 22:44:45</publishTime>
    </File>
    <File Include="Controls/Auth/Main.ascx">
      <publishTime>04/22/2012 16:45:39</publishTime>
    </File>
    <File Include="Controls/Auth/Registration.ascx">
      <publishTime>03/18/2012 23:49:55</publishTime>
    </File>
    <File Include="Controls/Catalog/ContractorList.ascx">
      <publishTime>03/15/2012 15:33:41</publishTime>
    </File>
    <File Include="Controls/Catalog/ShortInfo.ascx">
      <publishTime>11/14/2011 15:06:01</publishTime>
    </File>
    <File Include="Controls/Catalog/TopContractor.ascx">
      <publishTime>03/15/2012 15:50:10</publishTime>
    </File>
    <File Include="Controls/Comments&amp;Messages/NewMessage.ascx">
      <publishTime>11/29/2011 00:05:37</publishTime>
    </File>
    <File Include="Controls/Comments&amp;Messages/NewMessagePopup.ascx">
      <publishTime>01/13/2012 09:09:11</publishTime>
    </File>
    <File Include="Controls/Common/Messenger/InputBox.ascx">
      <publishTime>03/22/2012 00:06:24</publishTime>
    </File>
    <File Include="Controls/Common/Messenger/Template_1.ascx">
      <publishTime>03/22/2012 00:06:54</publishTime>
    </File>
    <File Include="Controls/Common/Photoes.ascx">
      <publishTime>03/20/2012 22:46:03</publishTime>
    </File>
    <File Include="Controls/Contractor/CalendarShort.ascx">
      <publishTime>11/30/2011 21:42:34</publishTime>
    </File>
    <File Include="Controls/Contractor/Contractor.ascx">
      <publishTime>11/30/2011 20:51:36</publishTime>
    </File>
    <File Include="Controls/Contractor/ContractorCabinetUC.ascx">
      <publishTime>01/13/2012 10:15:25</publishTime>
    </File>
    <File Include="Controls/Contractor/EventCardPromo.ascx">
      <publishTime>03/20/2012 23:24:10</publishTime>
    </File>
    <File Include="Controls/Contractor/EventCardsPromoList.ascx">
      <publishTime>11/14/2011 18:26:15</publishTime>
    </File>
    <File Include="Controls/Contractor/EventInCabinet.ascx">
      <publishTime>12/15/2011 16:36:14</publishTime>
    </File>
    <File Include="Controls/Contractor/EventsInCabinet.ascx">
      <publishTime>12/25/2011 22:39:50</publishTime>
    </File>
    <File Include="Controls/Contractor/Messages.ascx">
      <publishTime>04/12/2012 17:08:59</publishTime>
    </File>
    <File Include="Controls/Contractor/MyEvents.ascx">
      <publishTime>11/21/2011 02:29:48</publishTime>
    </File>
    <File Include="Controls/Contractor/OfferEventCardCatalog.ascx">
      <publishTime>01/13/2012 17:11:57</publishTime>
    </File>
    <File Include="Controls/Contractor/OneDay.ascx">
      <publishTime>12/15/2011 00:07:25</publishTime>
    </File>
    <File Include="Controls/Contractor/Preferences/Activities.ascx">
      <publishTime>01/12/2012 17:32:21</publishTime>
    </File>
    <File Include="Controls/Contractor/Preferences/CI.ascx">
      <publishTime>01/12/2012 17:02:42</publishTime>
    </File>
    <File Include="Controls/Contractor/Preferences/PreferencesForm.ascx">
      <publishTime>01/12/2012 17:26:44</publishTime>
    </File>
    <File Include="Controls/Contractor/Preferences/Private.ascx">
      <publishTime>01/12/2012 16:57:36</publishTime>
    </File>
    <File Include="Controls/Contractor/UnregisteredUser.ascx">
      <publishTime>03/18/2012 23:55:32</publishTime>
    </File>
    <File Include="Controls/Default/BestContractor.ascx">
      <publishTime>11/18/2011 18:27:35</publishTime>
    </File>
    <File Include="Controls/Default/BestContractors.ascx">
      <publishTime>03/20/2012 18:32:10</publishTime>
    </File>
    <File Include="Controls/Default/BottomLinksArray.ascx">
      <publishTime>04/12/2012 12:26:40</publishTime>
    </File>
    <File Include="Controls/Default/EventsReports.ascx">
      <publishTime>11/16/2011 23:58:24</publishTime>
    </File>
    <File Include="Controls/Default/LastArticles.ascx">
      <publishTime>11/16/2011 23:59:56</publishTime>
    </File>
    <File Include="Controls/Default/LastPhotoes.ascx">
      <publishTime>11/19/2011 17:03:50</publishTime>
    </File>
    <File Include="Controls/Default/LastVideo.ascx">
      <publishTime>11/16/2011 22:17:42</publishTime>
    </File>
    <File Include="Controls/Default/News.ascx">
      <publishTime>11/17/2011 00:00:56</publishTime>
    </File>
    <File Include="Controls/Default/PromoBlock.ascx">
      <publishTime>11/15/2011 23:21:03</publishTime>
    </File>
    <File Include="Controls/Default/UnAuthUser.ascx">
      <publishTime>11/14/2011 21:06:24</publishTime>
    </File>
    <File Include="Controls/Default/WayToEventCard.ascx">
      <publishTime>03/23/2012 20:45:43</publishTime>
    </File>
    <File Include="Controls/EventCard/ContractorsSelection.ascx">
      <publishTime>03/19/2012 23:58:30</publishTime>
    </File>
    <File Include="Controls/EventCard/EventCardBody.ascx">
      <publishTime>03/20/2012 23:29:16</publishTime>
    </File>
    <File Include="Controls/EventCard/EventCardBodyEls/ContractorsList.ascx">
      <publishTime>03/20/2012 18:32:24</publishTime>
    </File>
    <File Include="Controls/EventCard/EventCardCreator.ascx">
      <publishTime>03/18/2012 23:50:58</publishTime>
    </File>
    <File Include="Controls/EventCard/EventCardHeader.ascx">
      <publishTime>03/19/2012 16:24:11</publishTime>
    </File>
    <File Include="Controls/EventCard/SubcategoriesList.ascx">
      <publishTime>11/19/2011 15:38:37</publishTime>
    </File>
    <File Include="Controls/Navigate/BreadCrumbs.ascx">
      <publishTime>10/24/2011 19:04:44</publishTime>
    </File>
    <File Include="Controls/Navigate/CategoriesMenu.ascx">
      <publishTime>11/14/2011 23:10:20</publishTime>
    </File>
    <File Include="Controls/Navigate/LeftMenuBody.ascx">
      <publishTime>10/24/2011 18:42:30</publishTime>
    </File>
    <File Include="Controls/Navigate/LeftMenuHeader.ascx">
      <publishTime>11/15/2011 13:44:43</publishTime>
    </File>
    <File Include="Controls/Navigate/MenuSimple.ascx">
      <publishTime>11/20/2011 16:54:36</publishTime>
    </File>
    <File Include="CreateEventCard.aspx">
      <publishTime>12/11/2011 18:56:09</publishTime>
    </File>
    <File Include="CSS/Auth.css">
      <publishTime>04/21/2012 22:44:38</publishTime>
    </File>
    <File Include="CSS/Catalog.css">
      <publishTime>03/15/2012 17:00:35</publishTime>
    </File>
    <File Include="CSS/CommentsIMessages.css">
      <publishTime>01/13/2012 02:29:40</publishTime>
    </File>
    <File Include="CSS/Common.css">
      <publishTime>04/21/2012 22:14:42</publishTime>
    </File>
    <File Include="CSS/Contractor.css">
      <publishTime>03/20/2012 23:18:42</publishTime>
    </File>
    <File Include="CSS/Default.css">
      <publishTime>04/11/2012 19:13:38</publishTime>
    </File>
    <File Include="CSS/DropDown/cusel.css">
      <publishTime>11/20/2011 01:08:42</publishTime>
    </File>
    <File Include="CSS/DropDown/ECStatus.css">
      <publishTime>12/11/2011 21:11:47</publishTime>
    </File>
    <File Include="CSS/EventCard.css">
      <publishTime>03/13/2012 22:59:06</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.accordion.css">
      <publishTime>11/19/2011 22:26:27</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.all.css">
      <publishTime>11/19/2011 22:26:27</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.autocomplete.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.base.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.button.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.core.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.datepicker.css">
      <publishTime>11/19/2011 22:35:50</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.dialog.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.progressbar.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.resizable.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.selectable.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.slider.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.tabs.css">
      <publishTime>11/19/2011 22:26:28</publishTime>
    </File>
    <File Include="CSS/Jquery.UI/jquery.ui.theme.css">
      <publishTime>11/19/2011 22:49:11</publishTime>
    </File>
    <File Include="CSS/Navigate/LeftMenu.css">
      <publishTime>11/15/2011 14:00:36</publishTime>
    </File>
    <File Include="CSS/Slider.css">
      <publishTime>11/16/2011 17:53:24</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>12/11/2011 14:12:21</publishTime>
    </File>
    <File Include="Default.Master">
      <publishTime>04/22/2012 15:59:57</publishTime>
    </File>
    <File Include="EventCardPage.aspx">
      <publishTime>03/20/2012 17:38:08</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>11/10/2011 15:23:51</publishTime>
    </File>
    <File Include="Handlers/approve.ashx">
      <publishTime>04/22/2012 14:48:50</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name1.png">
      <publishTime>11/14/2011 17:11:14</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name1_100_100.png">
      <publishTime>11/14/2011 18:27:45</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name1_212_212.png">
      <publishTime>11/14/2011 18:18:07</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name1_460_265.png">
      <publishTime>11/16/2011 18:02:30</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name1_50_50.png">
      <publishTime>11/16/2011 17:09:37</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name2.png">
      <publishTime>11/14/2011 17:11:28</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name2_100_100.png">
      <publishTime>11/14/2011 18:27:46</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name2_212_212.png">
      <publishTime>11/14/2011 18:18:28</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name2_460_265.png">
      <publishTime>11/16/2011 18:02:29</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name2_50_50.png">
      <publishTime>11/16/2011 17:09:37</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name3.png">
      <publishTime>11/14/2011 17:12:37</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name3_100_100.png">
      <publishTime>11/14/2011 18:27:46</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name3_212_212.png">
      <publishTime>11/14/2011 18:18:28</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name3_460_265.png">
      <publishTime>11/16/2011 18:02:30</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name3_50_50.png">
      <publishTime>11/16/2011 17:09:37</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name4.png">
      <publishTime>11/14/2011 17:10:49</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name4_100_100.png">
      <publishTime>11/14/2011 18:46:27</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name4_460_265.png">
      <publishTime>11/18/2011 17:40:21</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name4_50_50.png">
      <publishTime>11/18/2011 17:40:23</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name5.png">
      <publishTime>11/14/2011 18:45:57</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name5_100_100.png">
      <publishTime>11/14/2011 18:46:26</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name5_460_265.png">
      <publishTime>11/18/2011 17:40:21</publishTime>
    </File>
    <File Include="Images/asdfghjklzxc@yandex.ru/name5_50_50.png">
      <publishTime>11/18/2011 17:40:21</publishTime>
    </File>
    <File Include="Images/k@ya.ru/avatar.png">
      <publishTime>11/16/2011 15:35:45</publishTime>
    </File>
    <File Include="Images/k@ya.ru/avatar_100.png">
      <publishTime>11/16/2011 15:35:58</publishTime>
    </File>
    <File Include="Images/k@ya.ru/avatar_50.png">
      <publishTime>11/16/2011 15:35:51</publishTime>
    </File>
    <File Include="Images/Promo/promo1.png">
      <publishTime>11/15/2011 23:05:25</publishTime>
    </File>
    <File Include="Images/solovey@razboynik.ru/avatar.png">
      <publishTime>11/16/2011 15:38:31</publishTime>
    </File>
    <File Include="Images/solovey@razboynik.ru/avatar_50.png">
      <publishTime>11/16/2011 15:38:35</publishTime>
    </File>
    <File Include="Images/vasser@man.tu/avatar.png">
      <publishTime>11/16/2011 15:37:57</publishTime>
    </File>
    <File Include="Images/vasser@man.tu/avatar_100.png">
      <publishTime>11/20/2011 17:18:44</publishTime>
    </File>
    <File Include="Images/vasser@man.tu/avatar_50.png">
      <publishTime>11/16/2011 15:38:35</publishTime>
    </File>
    <File Include="Images/vava@tata.ru/avatar.png">
      <publishTime>11/16/2011 15:37:14</publishTime>
    </File>
    <File Include="Images/vava@tata.ru/avatar_50.png">
      <publishTime>11/16/2011 15:38:35</publishTime>
    </File>
    <File Include="Images/z@ya.ru/avatar.png">
      <publishTime>11/14/2011 19:56:27</publishTime>
    </File>
    <File Include="Images/z@ya.ru/avatar_100.png">
      <publishTime>11/14/2011 19:56:31</publishTime>
    </File>
    <File Include="Images/z@ya.ru/avatar_50.png">
      <publishTime>11/14/2011 19:57:28</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo1.png">
      <publishTime>11/14/2011 18:49:07</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo1_100_100.png">
      <publishTime>11/14/2011 18:52:29</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo1_212_212.png">
      <publishTime>11/14/2011 18:50:33</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo1_460_265.png">
      <publishTime>11/16/2011 18:02:30</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo1_50_50.png">
      <publishTime>11/16/2011 17:09:39</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo2.png">
      <publishTime>11/14/2011 18:50:57</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo2_100_100.png">
      <publishTime>11/14/2011 18:52:29</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo2_212_212.png">
      <publishTime>11/14/2011 18:52:26</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo2_460_265.png">
      <publishTime>11/16/2011 18:02:29</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo2_50_50.png">
      <publishTime>11/16/2011 17:09:37</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo3.png">
      <publishTime>11/14/2011 18:51:47</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo3_100_100.png">
      <publishTime>11/14/2011 18:52:29</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo3_212_212.png">
      <publishTime>11/14/2011 18:52:26</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo3_460_265.png">
      <publishTime>11/16/2011 18:02:30</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo3_50_50.png">
      <publishTime>11/16/2011 17:09:37</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo4.png">
      <publishTime>11/14/2011 18:54:15</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo4_100_100.png">
      <publishTime>11/14/2011 18:55:01</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo4_460_265.png">
      <publishTime>11/16/2011 18:02:32</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo4_50_50.png">
      <publishTime>11/16/2011 17:09:39</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo5.png">
      <publishTime>11/14/2011 18:55:54</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo5_100_100.png">
      <publishTime>11/14/2011 18:57:21</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo5_460_265.png">
      <publishTime>11/16/2011 18:02:33</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo5_50_50.png">
      <publishTime>11/16/2011 17:09:37</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo6.png">
      <publishTime>11/14/2011 18:56:18</publishTime>
    </File>
    <File Include="Images/z@ya.ru/photo6_100_100.png">
      <publishTime>11/14/2011 18:57:21</publishTime>
    </File>
    <File Include="JS/Auth/auth.js">
      <publishTime>04/22/2012 16:22:51</publishTime>
    </File>
    <File Include="JS/Common/jquery-1.6.2.min.js">
      <publishTime>11/19/2011 17:03:15</publishTime>
    </File>
    <File Include="JS/Common/jquery.ui.core.js">
      <publishTime>11/19/2011 17:09:18</publishTime>
    </File>
    <File Include="JS/Common/jquery.ui.datepicker-ru.js">
      <publishTime>11/19/2011 17:06:14</publishTime>
    </File>
    <File Include="JS/Common/jquery.ui.datepicker.js">
      <publishTime>11/19/2011 17:09:18</publishTime>
    </File>
    <File Include="JS/Common/jquery.ui.widget.js">
      <publishTime>11/19/2011 17:09:18</publishTime>
    </File>
    <File Include="JS/Common/Messenger.js">
      <publishTime>03/22/2012 00:06:21</publishTime>
    </File>
    <File Include="JS/Contractor/Actions.js">
      <publishTime>03/19/2012 23:32:02</publishTime>
    </File>
    <File Include="JS/Contractor/ajaxupload.js">
      <publishTime>01/12/2012 00:12:32</publishTime>
    </File>
    <File Include="JS/Contractor/Cabinet.js">
      <publishTime>02/26/2012 18:33:14</publishTime>
    </File>
    <File Include="JS/DatePicker/jquery.ui.core.js">
      <publishTime>11/19/2011 22:25:46</publishTime>
    </File>
    <File Include="JS/DatePicker/jquery.ui.datepicker-ru.js">
      <publishTime>11/19/2011 22:25:37</publishTime>
    </File>
    <File Include="JS/DatePicker/jquery.ui.datepicker.js">
      <publishTime>11/19/2011 22:25:59</publishTime>
    </File>
    <File Include="JS/DatePicker/jquery.ui.widget.js">
      <publishTime>11/19/2011 22:25:50</publishTime>
    </File>
    <File Include="JS/DropDown/cusel-min-2.4.1.js">
      <publishTime>11/19/2011 23:46:53</publishTime>
    </File>
    <File Include="JS/DropDown/cusel.js">
      <publishTime>11/19/2011 23:46:53</publishTime>
    </File>
    <File Include="JS/DropDown/jquery.mousewheel.js">
      <publishTime>11/19/2011 23:46:54</publishTime>
    </File>
    <File Include="JS/DropDown/jScrollPane.js">
      <publishTime>11/20/2011 02:07:11</publishTime>
    </File>
    <File Include="JS/EventCard/ContractorSelection.js">
      <publishTime>03/20/2012 00:23:06</publishTime>
    </File>
    <File Include="JS/EventCard/ec.js">
      <publishTime>03/13/2012 23:23:26</publishTime>
    </File>
    <File Include="JS/Slider/coda-slider.1.1.1.pack.js">
      <publishTime>11/16/2011 16:48:36</publishTime>
    </File>
    <File Include="JS/Slider/jquery-easing-1.3.pack.js">
      <publishTime>11/16/2011 16:48:37</publishTime>
    </File>
    <File Include="JS/Slider/jquery-easing-compatibility.1.2.pack.js">
      <publishTime>11/16/2011 16:48:37</publishTime>
    </File>
    <File Include="JS/Slider/ycodaslider-2.0.pack.js">
      <publishTime>11/16/2011 16:48:36</publishTime>
    </File>
    <File Include="JS/Video/flowplayer-3.2.6.min.js">
      <publishTime>11/16/2011 20:15:37</publishTime>
    </File>
    <File Include="JS/Video/flowplayer-3.2.7.swf">
      <publishTime>11/16/2011 20:15:29</publishTime>
    </File>
    <File Include="JS/Video/flowplayer.controls-3.2.5.swf">
      <publishTime>11/16/2011 20:15:30</publishTime>
    </File>
    <File Include="Messages.aspx">
      <publishTime>12/24/2011 15:54:07</publishTime>
    </File>
    <File Include="Pict/Auth/authbg.png">
      <publishTime>11/29/2011 00:04:05</publishTime>
    </File>
    <File Include="Pict/Auth/bg.png">
      <publishTime>11/17/2011 12:37:57</publishTime>
    </File>
    <File Include="Pict/Auth/close.png">
      <publishTime>11/18/2011 02:17:47</publishTime>
    </File>
    <File Include="Pict/Auth/continue.png">
      <publishTime>11/18/2011 14:03:58</publishTime>
    </File>
    <File Include="Pict/Auth/createuser.png">
      <publishTime>11/17/2011 14:39:42</publishTime>
    </File>
    <File Include="Pict/Auth/graybg.png">
      <publishTime>11/17/2011 15:16:47</publishTime>
    </File>
    <File Include="Pict/Auth/login.png">
      <publishTime>11/29/2011 00:13:50</publishTime>
    </File>
    <File Include="Pict/Catalog/shortContractorBG.png">
      <publishTime>11/14/2011 14:28:37</publishTime>
    </File>
    <File Include="Pict/Catalog/TopContractorBG.png">
      <publishTime>11/13/2011 22:17:54</publishTime>
    </File>
    <File Include="Pict/CommentsIMessages/newmessagebg.png">
      <publishTime>11/28/2011 23:05:15</publishTime>
    </File>
    <File Include="Pict/CommentsIMessages/send.png">
      <publishTime>11/28/2011 22:54:42</publishTime>
    </File>
    <File Include="Pict/Common/banner.png">
      <publishTime>10/06/2011 16:59:22</publishTime>
    </File>
    <File Include="Pict/Common/bg.png">
      <publishTime>10/06/2011 15:44:49</publishTime>
    </File>
    <File Include="Pict/Common/blockBottom.png">
      <publishTime>01/11/2012 14:22:54</publishTime>
    </File>
    <File Include="Pict/Common/blockMiddle.png">
      <publishTime>01/11/2012 14:24:02</publishTime>
    </File>
    <File Include="Pict/Common/blockTop.png">
      <publishTime>01/11/2012 14:22:03</publishTime>
    </File>
    <File Include="Pict/Common/checkbox.png">
      <publishTime>11/19/2011 15:28:39</publishTime>
    </File>
    <File Include="Pict/Common/darkBottomPlate.png">
      <publishTime>10/10/2011 10:34:56</publishTime>
    </File>
    <File Include="Pict/Common/goat.png">
      <publishTime>10/06/2011 16:47:51</publishTime>
    </File>
    <File Include="Pict/Common/logo.png">
      <publishTime>10/06/2011 16:53:33</publishTime>
    </File>
    <File Include="Pict/Common/save.png">
      <publishTime>01/12/2012 01:07:33</publishTime>
    </File>
    <File Include="Pict/Common/whiteBlockBottomSmall.png">
      <publishTime>03/19/2012 22:29:59</publishTime>
    </File>
    <File Include="Pict/Common/whiteBlockTopSmall.png">
      <publishTime>03/19/2012 22:29:13</publishTime>
    </File>
    <File Include="Pict/Contractor/arrow.png">
      <publishTime>12/11/2011 18:24:52</publishTime>
    </File>
    <File Include="Pict/Contractor/arrowdown.png">
      <publishTime>12/14/2011 19:22:38</publishTime>
    </File>
    <File Include="Pict/Contractor/block.png">
      <publishTime>11/30/2011 22:48:18</publishTime>
    </File>
    <File Include="Pict/Contractor/closedday.png">
      <publishTime>11/30/2011 21:35:19</publishTime>
    </File>
    <File Include="Pict/Contractor/day.png">
      <publishTime>11/30/2011 21:52:55</publishTime>
    </File>
    <File Include="Pict/Contractor/ecListTitle.png">
      <publishTime>10/08/2011 00:48:08</publishTime>
    </File>
    <File Include="Pict/Contractor/ecPromoPhotoBg.png">
      <publishTime>10/08/2011 00:54:47</publishTime>
    </File>
    <File Include="Pict/Contractor/emptyday.png">
      <publishTime>11/10/2011 21:56:15</publishTime>
    </File>
    <File Include="Pict/Contractor/horizontalLine.png">
      <publishTime>12/14/2011 23:51:43</publishTime>
    </File>
    <File Include="Pict/Contractor/InfoPlate.png">
      <publishTime>10/06/2011 19:04:56</publishTime>
    </File>
    <File Include="Pict/Contractor/letter.png">
      <publishTime>11/30/2011 23:05:53</publishTime>
    </File>
    <File Include="Pict/Contractor/load.png">
      <publishTime>01/12/2012 00:10:09</publishTime>
    </File>
    <File Include="Pict/Contractor/markasRead.png">
      <publishTime>01/12/2012 18:48:32</publishTime>
    </File>
    <File Include="Pict/Contractor/messageBlockBg.png">
      <publishTime>12/23/2011 12:27:47</publishTime>
    </File>
    <File Include="Pict/Contractor/messageHeaderBG.png">
      <publishTime>12/14/2011 23:37:53</publishTime>
    </File>
    <File Include="Pict/Contractor/messagesBottomBg.png">
      <publishTime>12/12/2011 17:55:24</publishTime>
    </File>
    <File Include="Pict/Contractor/messagesTopBg.png">
      <publishTime>12/12/2011 17:54:44</publishTime>
    </File>
    <File Include="Pict/Contractor/MoreInfoBottom.png">
      <publishTime>10/06/2011 19:40:18</publishTime>
    </File>
    <File Include="Pict/Contractor/MoreInfoMiddle.png">
      <publishTime>10/06/2011 19:40:39</publishTime>
    </File>
    <File Include="Pict/Contractor/MoreInfoTop.png">
      <publishTime>10/06/2011 19:39:54</publishTime>
    </File>
    <File Include="Pict/Contractor/notpayed.png">
      <publishTime>11/30/2011 23:21:22</publishTime>
    </File>
    <File Include="Pict/Contractor/payed.png">
      <publishTime>11/30/2011 23:21:41</publishTime>
    </File>
    <File Include="Pict/Contractor/pencil.png">
      <publishTime>12/14/2011 19:13:33</publishTime>
    </File>
    <File Include="Pict/Contractor/plusIcon.png">
      <publishTime>10/24/2011 15:55:00</publishTime>
    </File>
    <File Include="Pict/Contractor/preferencesBlockBottom.png">
      <publishTime>01/11/2012 14:22:54</publishTime>
    </File>
    <File Include="Pict/Contractor/preferencesBlockMiddle.png">
      <publishTime>01/11/2012 14:24:02</publishTime>
    </File>
    <File Include="Pict/Contractor/preferencesBlockTop.png">
      <publishTime>01/11/2012 14:22:03</publishTime>
    </File>
    <File Include="Pict/Contractor/priceIcon.png">
      <publishTime>10/24/2011 15:56:04</publishTime>
    </File>
    <File Include="Pict/Contractor/sendButton.png">
      <publishTime>12/12/2011 22:54:25</publishTime>
    </File>
    <File Include="Pict/Contractor/sendMessageIcon.png">
      <publishTime>10/24/2011 15:55:22</publishTime>
    </File>
    <File Include="Pict/Contractor/starIcon.png">
      <publishTime>10/24/2011 15:55:39</publishTime>
    </File>
    <File Include="Pict/Contractor/statusmouseonitem.png">
      <publishTime>12/11/2011 20:50:30</publishTime>
    </File>
    <File Include="Pict/Contractor/statusselectarrow.png">
      <publishTime>12/11/2011 21:02:59</publishTime>
    </File>
    <File Include="Pict/Contractor/statusselectbg.png">
      <publishTime>12/11/2011 20:38:55</publishTime>
    </File>
    <File Include="Pict/Contractor/statusselecteditem.png">
      <publishTime>12/11/2011 20:51:43</publishTime>
    </File>
    <File Include="Pict/DatePicker/dp-header-bg.png">
      <publishTime>11/19/2011 22:38:53</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-icons_222222_256x240.png">
      <publishTime>11/19/2011 22:41:45</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-icons_2e83ff_256x240.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-icons_454545_256x240.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-icons_888888_256x240.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/DatePicker/ui-icons_cd0a0a_256x240.png">
      <publishTime>11/19/2011 22:26:26</publishTime>
    </File>
    <File Include="Pict/ddl/selected.png">
      <publishTime>11/20/2011 00:25:16</publishTime>
    </File>
    <File Include="Pict/ddl/selects-2-dis-ie6.png">
      <publishTime>11/19/2011 23:56:50</publishTime>
    </File>
    <File Include="Pict/ddl/selects-2-dis.png">
      <publishTime>11/19/2011 23:56:50</publishTime>
    </File>
    <File Include="Pict/ddl/selects-2-ie6.png">
      <publishTime>11/19/2011 23:56:50</publishTime>
    </File>
    <File Include="Pict/ddl/selects-2.png">
      <publishTime>11/20/2011 00:14:30</publishTime>
    </File>
    <File Include="Pict/ddl/selects-focus.png">
      <publishTime>11/20/2011 00:21:20</publishTime>
    </File>
    <File Include="Pict/ddl/selects-multiple-focus.png">
      <publishTime>11/19/2011 23:56:50</publishTime>
    </File>
    <File Include="Pict/ddl/selects-multiple.png">
      <publishTime>11/19/2011 23:56:50</publishTime>
    </File>
    <File Include="Pict/ddl/selects.png">
      <publishTime>11/19/2011 23:56:51</publishTime>
    </File>
    <File Include="Pict/Default/arrow.png">
      <publishTime>11/14/2011 20:56:24</publishTime>
    </File>
    <File Include="Pict/Default/CreateEvent.png">
      <publishTime>11/14/2011 21:10:55</publishTime>
    </File>
    <File Include="Pict/Default/graytransparentbg.png">
      <publishTime>11/16/2011 16:37:47</publishTime>
    </File>
    <File Include="Pict/Default/splitter.png">
      <publishTime>11/16/2011 15:40:49</publishTime>
    </File>
    <File Include="Pict/EventCard/bg.png">
      <publishTime>11/18/2011 16:43:57</publishTime>
    </File>
    <File Include="Pict/EventCard/bottombg.png">
      <publishTime>11/18/2011 16:43:41</publishTime>
    </File>
    <File Include="Pict/EventCard/ready.png">
      <publishTime>11/18/2011 16:53:11</publishTime>
    </File>
    <File Include="Pict/EventCard/topbg.png">
      <publishTime>11/18/2011 16:43:25</publishTime>
    </File>
    <File Include="Pict/Navigate/MenuBlock.png">
      <publishTime>10/06/2011 15:07:45</publishTime>
    </File>
    <File Include="Pict/Navigate/MenuBlockBottom.png">
      <publishTime>10/07/2011 11:09:19</publishTime>
    </File>
    <File Include="Pict/Navigate/MenuBlockSelected.png">
      <publishTime>10/07/2011 10:53:20</publishTime>
    </File>
    <File Include="Pict/Navigate/MenuBlockTop.png">
      <publishTime>10/07/2011 10:56:22</publishTime>
    </File>
    <File Include="Pict/TopContractorBG.png">
      <publishTime>11/13/2011 22:17:15</publishTime>
    </File>
    <File Include="Preferences.aspx">
      <publishTime>01/11/2012 14:50:08</publishTime>
    </File>
    <File Include="Reports.aspx">
      <publishTime>01/13/2012 17:11:51</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>04/22/2012 16:53:57</publishTime>
    </File>
    <File Include="WebForm1.aspx">
      <publishTime>12/22/2011 21:31:18</publishTime>
    </File>
    <File Include="WebForm3.aspx">
      <publishTime>11/17/2011 14:10:29</publishTime>
    </File>
    <File Include="WebForm5.aspx">
      <publishTime>12/22/2011 23:03:05</publishTime>
    </File>
    <File Include="WS/WS.asmx">
      <publishTime>11/17/2011 15:36:49</publishTime>
    </File>
    <File Include="WTF.aspx">
      <publishTime>12/17/2011 01:15:25</publishTime>
    </File>
  </ItemGroup>
</Project>