<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms"/>
      <roleManager enabled="true" defaultProvider="YourDayAuthProvider">
        <providers>
          <clear/>
          <add connectionStringName="YourDayAuth" name="YourDayAuthProvider" type="System.Web.Security.SqlRoleProvider"/>
        </providers>
      </roleManager>
      <membership defaultProvider="YourDayAuthProvider" userIsOnlineTimeWindow="20">
        <providers>
          <clear/>
          <add passwordFormat="Hashed" requiresQuestionAndAnswer="false" connectionStringName="YourDayAuth" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" name="YourDayAuthProvider" type="System.Web.Security.SqlMembershipProvider"/>
        </providers>
      </membership>
    </system.web>
  <connectionStrings>
    <clear/>
    <add name="YourDayEntities" connectionString="metadata=res://*/YourDay.csdl|res://*/YourDay.ssdl|res://*/YourDay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=YourDay_v4;Persist Security Info=True;User ID=sa;Password=111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add connectionString="Server=(local);Database=YourDay_Auth;Integrated Security=true" name="YourDayAuth" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
