@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Content -->
<div class="l-wrap clearfix">
	<div class="l-content-wrap">
		<div class="l-content">
			<div class="b-list-items contractors" id="listItems">

				<!-- Contractor item -->
					<div class="b-list-item clearfix">
						<table class="va-top">
							<col width="70">
							<col width="40%">
							<col width="25%">
							<col>
							<tbody>
								<tr>
									<td rowspan="2"><img src="http://dummyimage.com/52x52/09f/fff.gif" alt="Семен Пешка"></td>
									<td>
										<h3><a href="#">Семен Пешка</a></h3>
									</td>
								</tr>
								<tr>
									<td>
										Специализация: <a href="javascript:;">фотограф</a>, <a href="javascript:;">стриптизер</a><br>
										Статус: <span class="c-3">сейчас на сайте</span>
									</td>
									<td>
										Отзывы: <a href="javascript:;" class="c-3">125</a> / <a href="javascript:;" class="c-4">12</a><br>
										Опыт: <a href="javascript:;">24 события</a>
									</td>
									<td>
										Город: <a href="javascript:;">Санкт-Петербург</a><br>
										Время: <span class="c-3">с 12:00 до 21:00</span>
									</td>
								</tr>
							</tbody>
						</table>
						
						<nav class="media-list clearfix">
							<ul>
								<li><a href="javascript:;"><img src="http://dummyimage.com/210x210/09f/fff.gif" alt="Photo" /></a></li>
								<li><a href="javascript:;"><img src="http://dummyimage.com/210x210/09f/fff.gif" alt="Photo" /></a></li>
								<li><a href="javascript:;"><img src="http://dummyimage.com/210x210/09f/fff.gif" alt="Photo" /></a></li>
							</ul>
						</nav>
						
						<a href="#"><i class="i i-to-fav i-left"></i> Добавить в избранное</a>
						<span class="media-summary">
							<a href="javascript:;">135 фотографий</a> / <a href="javascript:;">4 видео</a>
						</span>
						
					</div>
				<!-- /Contractor item -->				
				<!-- Contractor short item -->
					<div class="b-list-item clearfix">
						<table class="va-top">
							<col width="70">
							<col width="40%">
							<col width="25%">
							<col>
							<tbody>
								<tr>
									<td rowspan="2"><img src="http://dummyimage.com/52x52/09f/fff.gif" alt="Семен Пешка"></td>
									<td>
										<h3><a href="#">Семен Пешка</a></h3>
									</td>
								</tr>
								<tr>
									<td>
										Специализация: <a href="javascript:;">фотограф</a>, <a href="javascript:;">стриптизер</a><br>
										Статус: <span class="c-3">сейчас на сайте</span>
									</td>
									<td>
										Отзывы: <a href="javascript:;" class="c-3">125</a> / <a href="javascript:;" class="c-4">12</a><br>
										Опыт: <a href="javascript:;">24 события</a>
									</td>
									<td>
										Город: <a href="javascript:;">Санкт-Петербург</a><br>
										Время: <span class="c-3">с 12:00 до 21:00</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				<!-- /Contractor short item -->	

			</div>
			<div class="b-list-more">
				<a href="javascript:;" class="ui-button" id="listMore"><span>Показать еще</span></a>
			</div>
		</div>
	</div>
	<aside class="l-sidebar">
		<nav class="nav-main">
			<ul>
				<li class="nav-item"><a href="#">Рестораны и банкетные залы</a></li>
				<li class="nav-item"><a href="#">Транспорт</a></li>
				<li class="nav-item"><a href="#">Фото, видео, печать</a></li>
				<li class="nav-item"><a href="#">Ведущие</a></li>
				<li class="nav-item expanded"><a href="#">Музыканты</a></li>
					<li class="subnav-item"><a href="#">Вокалисты</a></li>
					<li class="subnav-item"><a href="#">Музыкальные коллективы</a></li>
					<li class="subnav-item"><a href="#">Музыкальное оформление</a></li>
					<li class="subnav-item"><a href="#">Танцевальные номера</a></li>
					<li class="subnav-item"><a href="#">Шоу балеты</a></li>
					<li class="subnav-item cur"><a href="#">Варьете </a></li>
					<li class="subnav-item"><a href="#">Эротическое шоу</a></li>
					<li class="subnav-item"><a href="#">Цирковые артисты</a></li>
					<li class="subnav-item"><a href="#">Иллюзионисты и фокусники</a></li>
					<li class="subnav-item"><a href="#">Клоуны</a></li>
					<li class="subnav-item"><a href="#">Ростовые куклы</a></li>
					<li class="subnav-item"><a href="#">Комические шоу и номера</a></li>
					<li class="subnav-item"><a href="#">Пародисты</a></li>
					<li class="subnav-item"><a href="#">Оригинальные шоу и номера</a></li>
					<li class="subnav-item"><a href="#">Звезды эстрады</a></li>
					<li class="subnav-item"><a href="#">Dj-еи</a></li>
				<li class="nav-item"><a href="#">Декораторы, флористика</a></li>
				<li class="nav-item"><a href="#">Платья, костюмы, обувь</a></li>
				<li class="nav-item"><a href="#">Красота и здоровье</a></li>
				<li class="nav-item"><a href="#">Ювелирные украшения</a></li>
				<li class="nav-item"><a href="#">Свет, звук, спецэффекты</a></li>
				<li class="nav-item"><a href="#">Организация мероприятий</a></li>
				<li class="nav-item"><a href="#">Гостиницы и базы отдыха</a></li>
				<li class="nav-item"><a href="#">Путешествия</a></li>
				<li class="nav-item"><a href="#">Торты</a></li>
				<li class="nav-item"><a href="#">ЗАГСы</a></li>
				<li class="nav-item"><a href="#">Другое</a></li>
			</ul>
		</nav>
	</aside>
</div>
<!-- /Content -->

