<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="masquaradueRules" type="YourDay.Masquaradue.MasquaradueRulesConfigSection"/>
	</configSections>
	<connectionStrings>
		<clear/>
		<add name="YourDayEntities" connectionString="metadata=res://*/YourDay.csdl|res://*/YourDay.ssdl|res://*/YourDay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=95.161.10.41;Initial Catalog=YourDay_v4;Persist Security Info=True;User Id=sa;Password=111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SecurityEntities" connectionString="metadata=res://*/Security.csdl|res://*/Security.ssdl|res://*/Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=95.161.10.41;Initial Catalog=YourDay_v4;User Id=sa;Password=111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<system.webServer>
		<modules>
			<add name="MasquaradueModule" type="YourDay.Masquaradue.MasquaradueModule"/>
		</modules>
    <staticContent>
      <clientCache cacheControlMode="NoControl" />
    </staticContent>
	</system.webServer>
	<system.web>
		<authentication mode="Forms"/>
		<roleManager enabled="true" defaultProvider="YourDayAuthProvider">
			<providers>
				<clear/>
				<add connectionStringName="SecurityEntities" name="YourDayAuthProvider" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<membership defaultProvider="YourDayAuthProvider" userIsOnlineTimeWindow="20">
			<providers>
				<clear/>
				<add name="YourDayAuthProvider" type="YourDay.Security.MembershipProvider" connectionStringName="SecurityEntities" passwordFormat="Hashed" requiresQuestionAndAnswer="false" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<httpModules>
			<add name="MasquaradueModule" type="YourDay.Masquaradue.MasquaradueModule"/>
		</httpModules>
		<httpHandlers>
			<add verb="*" path="PhotoThumbnail.ashx" type="YourDay.BLL.Images.PhotoThumbnail"/>
			<add verb="*" path="Photo.ashx" type="YourDay.BLL.Images.Photo"/>
			<add verb="*" path="avatar.ashx" type="YourDay.BLL.Images.Avatar"/>
			<add verb="*" path="Article.ashx" type="YourDay.BLL.Images.Article"/>
		</httpHandlers>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<appSettings>
		<add key="domain" value="http://localhost:32976/"/>
		<add key="contractorsLink" value="~/Contractor/{0}/"/>
		<add key="contractorsCategoryLink" value="~/subcategory/{0}/Contractor/{1}/"/>
		<add key="subcategoryLink" value="/subcategory/{0}/"/>
		<add key="eventCardLink" value="/Eventcard/{0}/"/>
		<add key="eventCardPhotoesLink" value="/Eventcard/{0}/photoes/"/>
		<add key="eventCardVideosLink" value="/Eventcard/{0}/videos/"/>
		<add key="eventCardCommentsLink" value="/Eventcard/{0}/comments/"/>
		<add key="cityLink" value="/City/{0}/"/>
		<add key="contractorImagesPath" value="{0}/images/{1}/avatar_{2}.png"/>
		<add key="contactorThumbPhotoes" value="{0}/images/thumb/{1}/{2}_{3}_{4}.png"/>
		<add key="Images" value="/Images"/>
	</appSettings>
	<masquaradueRules>
		<rules>
			<add key="contractorsLink" regex="^/contractor/(?&lt;contractor&gt;\d{1,5})/$" request="{0}/contractor/{1}/" link="~/contractor.aspx?contractor=${contractor}" enableUnauthAccess="true"/>
			<add key="subcategoryLink" regex="^/subcategory/(?&lt;subcategory&gt;\d{1,5})/$" request="{0}/subcategory/{1}/" link="~/catalog.aspx?subcategory=${subcategory}" enableUnauthAccess="true"/>
			<add key="contractorsCategoryLink" regex="^/subcategory/(?&lt;subcategory&gt;\d{1,5})/contractor/(?&lt;contractor&gt;\d{1,5})/$" request="{0}/subcategory/{1}/contractor/{2}/" link="~/contractor.aspx?subcategory=${subcategory}&amp;contractor=${contractor}" enableUnauthAccess="true"/>
			<add key="contractorAvatar" regex="^/images/(?&lt;login&gt;.*)/avatar_(?&lt;size&gt;\d{2,4}).png$" link="{0}/avatar.ashx?login=${login}&amp;size=${size}" request="{0}/images/{1}/avatar_{2}.png" enableUnauthAccess="true"/>
			<add key="contactorThumbPhotoes" regex="^/images/thumb/(?&lt;login&gt;.*)/(?&lt;photoname&gt;.*)_(?&lt;width&gt;\d{2,4})_(?&lt;height&gt;\d{2,4}).png$" link="{0}/PhotoThumbnail.ashx?login=${login}&amp;photoname=${photoname}&amp;width=${width}&amp;height=${height}" request="{0}/images/thumb/{1}/{2}_{3}_{4}.png" enableUnauthAccess="true"/>
			<add key="contactorPhotoes" regex="^/images/full/(?&lt;login&gt;.*)/(?&lt;photoname&gt;.*)_(?&lt;width&gt;\d{2,4})_(?&lt;height&gt;\d{2,4}).png$" link="{0}/Photo.ashx?login=${login}&amp;photoname=${photoname}&amp;width=${width}&amp;height=${height}" request="{0}/images/full/{1}/{2}_{3}_{4}.png" enableUnauthAccess="true"/>
			<add key="articleImage" regex="^/images/articles/(?&lt;isshort&gt;(1|0))/(?&lt;id&gt;\d{1,10})/icon.png$" link="Article.ashx?id=${id}&amp;isshort=${isshort}" request="{0}/images/articles/{1}/{2}/icon.png" enableUnauthAccess="true"/>
			<add key="article" regex="^/articles/(?&lt;id&gt;\d{1,10})/$" link="~/article.aspx?id=${id}" request="{0}/articles/{1}/" enableUnauthAccess="true"/>
			<add key="news" regex="^/news/(?&lt;id&gt;\d{1,10})/$" link="~/news.aspx?id=${id}" request="{0}/news/{1}/"  enableUnauthAccess="true"/>
			<add key="createeventcard" regex="^/eventcard/create/$" link="/CreateEventCard.aspx" request="{0}/eventcard/create/"  enableUnauthAccess="true"/>
			<add key="eventCardLink" regex="^/eventcard/(?&lt;id&gt;\d{1,10})/$" link="~/eventcard.aspx?id=${id}" request="{0}/eventcard/{1}/" enableUnauthAccess="true"/>
      <!-- Ссылки в кабинете контрагента сверху -->
      <add key="contractorCabinet" regex="^/contractor/events/$" link="~/ContractorCabinet.aspx" request="{0}/eventcard/events/" enableUnauthAccess="false"/>
      <add key="contractorReports" regex="^/contractor/reports/$" link="~/Reports.aspx" request="{0}/eventcard/reports/" enableUnauthAccess="false"/>
      
      <!-- Ссылки в кабинете контрагента сверху -->
      
      <!--Ссылки сообщений в кабинете контрагента -->
      <add key="contractorMessages" regex="^/contractor/messages/$" link="~/Messages.aspx" request="{0}/eventcard/messages/" enableUnauthAccess="false"/>
      <add key="contractorCabinet" regex="^/contractor/messages/ec(?&lt;ec&gt;\d{1,7})/$" link="~/Messages.aspx?ec=${ec}" request="{0}/eventcard/messages/{1}/" enableUnauthAccess="false"/>
      <add key="contractorCabinet" regex="^/contractor/messages/(?&lt;d&gt;\d{4}-\d{2}-\d{2})/$" link="~/Messages.aspx?d=${d}" request="{0}/eventcard/messages/{1}/" enableUnauthAccess="false"/>
      <add key="contractorCabinet" regex="^/contractor/messages/(?&lt;type&gt;(in|out))/$" link="~/Messages.aspx?t=${type}" request="{0}/eventcard/messages/{1}/" enableUnauthAccess="false"/>
      <add key="contractorCabinet" regex="^/contractor/messages/(?&lt;type&gt;(in|out))/ec(?&lt;ec&gt;\d{1,7})/$" link="~/Messages.aspx?t=${type}&amp;ec=${ec}" request="{0}/eventcard/messages/{1}/{2}/" enableUnauthAccess="false"/>
      <add key="contractorCabinet" regex="^/contractor/messages/(?&lt;type&gt;(in|out))/(?&lt;ec&gt;\d{4}-\d{2}-\d{2})/$" link="~/Messages.aspx?t=${type}&amp;d=${d}" request="{0}/eventcard/messages/{1}/{2}/" enableUnauthAccess="false"/>
      <!--Ссылки сообщений в кабинете контрагента -->

      <!--Ссылки настройки в кабинете контрагента -->
      <add key="contractorPreferences" regex="^/contractor/preferences/$" link="~/Preferences.aspx?type=private" request="{0}/eventcard/preferences/" enableUnauthAccess="false"/>
      <add key="contractorPreferencesCI" regex="^/contractor/preferences/ci/$" link="~/Preferences.aspx?type=ci" request="{0}/eventcard/preferences/ci/" enableUnauthAccess="false"/>
      <add key="contractorPreferencesActDesc" regex="^/contractor/preferences/actdesc/$" link="~/Preferences.aspx?type=actdesc" request="{0}/eventcard/preferences/actdesc/" enableUnauthAccess="false"/>
      <add key="contractorPreferencesAcc" regex="^/contractor/preferences/acc/$" link="~/Preferences.aspx?type=acc" request="{0}/eventcard/preferences/acc/" enableUnauthAccess="false"/>
      <!--Ссылки настройки в кабинете контрагента -->
    </rules>
	</masquaradueRules>
</configuration>
