.ui-button {
	display: inline-block;
	padding: 0;
	background: none;
	border: 5px solid #361f37;
	border: 5px solid rgba(54, 31, 55, .7);
	font-size: 1.167em;
	outline: none;
	text-decoration: none;
	
	-webkit-box-shadow: 0 0 1px rgba(173, 81, 162, .5);
	-moz-box-shadow: 0 0 1px rgba(173, 81, 162, .5);
	-o-box-shadow: 0 0 1px rgba(173, 81, 162, .5);
	-ms-box-shadow: 0 0 1px rgba(173, 81, 162, .5);
	box-shadow: 0 0 1px rgba(173, 81, 162, .5);
	}
	.ui-button:focus {outline: none;}
	.ui-button span {
		display: block;
		height: 45px;
		min-width: 175px;
		background: #481d43;
		color: #fff;
		line-height: 45px;
		text-align: center;
		text-shadow: 0 -1px 1px #000;
	
		background: -moz-linear-gradient(top, #481d43 0%, #7d2e6a 100%);
		background: -webkit-linear-gradient(top, #481d43 0%, #7d2e6a 100%);
		background: -o-linear-gradient(top, #481d43 0%, #7d2e6a 100%);
		background: -ms-linear-gradient(top, #481d43 0%, #7d2e6a 100%);
		background: linear-gradient(top, #481d43 0%, #7d2e6a 100%);
	
		-webkit-box-shadow: inset 0 1px 0 0 #ad51a2, 0 1px 1px 0 rgba(0, 0, 0, .5);
		-moz-box-shadow: inset 0 1px 0 0 #ad51a2, 0 1px 1px 0 rgba(0, 0, 0, .5);
		-o-box-shadow: inset 0 1px 0 0 #ad51a2, 0 1px 1px 0 rgba(0, 0, 0, .5);
		-ms-box-shadow: inset 0 1px 0 0 #ad51a2, 0 1px 1px 0 rgba(0, 0, 0, .5);
		box-shadow: inset 0 1px 0 0 #ad51a2, 0 1px 1px 0 rgba(0, 0, 0, .5);
		}
	.ui-button.flexwidth span {
		padding: 0 2em;
		min-width: 0;
	}
	.ui-button:hover span {
		background: #a03c89;
		background: -moz-linear-gradient(top, #a03c89 0%, #541f4d 100%);
		background: -webkit-linear-gradient(top, #a03c89 0%, #541f4d 100%);
		background: -o-linear-gradient(top, #a03c89 0%, #541f4d 100%);
		background: -ms-linear-gradient(top, #a03c89 0%, #541f4d 100%);
		background: linear-gradient(top, #a03c89 0%, #541f4d 100%);
	
		-webkit-box-shadow: inset 0 1px 0 0 #ad51a2;
		-moz-box-shadow: inset 0 1px 0 0 #ad51a2;
		-o-box-shadow: inset 0 1px 0 0 #ad51a2;
		-ms-box-shadow: inset 0 1px 0 0 #ad51a2;
		box-shadow: inset 0 1px 0 0 #ad51a2;
		}
	.ui-button:active span {
		line-height: 47px;
		background: #481d43;
		background: -moz-linear-gradient(top, #481d43 0%, #7d2e6a 100%);
		background: -webkit-linear-gradient(top, #481d43 0%, #7d2e6a 100%);
		background: -o-linear-gradient(top, #481d43 0%, #7d2e6a 100%);
		background: -ms-linear-gradient(top, #481d43 0%, #7d2e6a 100%);
		background: linear-gradient(top, #481d43 0%, #7d2e6a 100%);
	
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		}
	.ui-button,
	.ui-button span {
		-webkit-border-radius: 45px;
		-moz-border-radius: 45px;
		-o-border-radius: 45px;
		-ms-border-radius: 45px;
		border-radius: 45px;
		}

/**
 * Filter
 */
.b-filter .combo-city {width: 240px;}
.b-filter .combo-type {width: 190px;}
.b-filter .combo-date {width: 110px;}

.b-filter .sort {
	float: right;
	padding-top: 4px;
	}
	.b-filter .sort a {margin-left: 7px;}

.b-filter .checkbox-wrap {
	float: left;
	margin-right: 10px;
	padding-top: 4px;
	}
	.b-filter input[type="checkbox"] {
		margin-right: 3px;
		vertical-align: -2px;
		}

/**
 * Customize
 */
.customize-select-wrap {
	position: relative;
	display: inline-block;
	margin: 0 10px 0 0;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	}
	.customize-select-wrap:after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 10px;
		right: 10px;
		border-top: 5px solid #000;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		}
	.customize-select-wrap .element-value {
		position: absolute;
		top: 5px;
		left: 10px;
		z-index: 1;
		}
	.customize-select-wrap select {
		position: relative;
		z-index: 5;
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		height: 26px;
		border: none;
		}