<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="masquaradueRules" type="YourDay.Configuration.MasquaradueRulesConfigSection, YourDay.Configuration"/>
    <section name="processingImageSizes" type="YourDay.Configuration.ProcessingImageSizeConfigurationSection, YourDay.Configuration"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="domain" value="http://localhost:32976/"/>
    <add key="default" value="http://localhost/"/>
    <add key="contractorsLink" value="~/Contractor/{0}/"/>
    <add key="contractorsCategoryLink" value="~/subcategory/{0}/Contractor/{1}/"/>
    <add key="subcategoryLink" value="/subcategory/{0}/"/>
    <add key="eventCardLink" value="/Eventcard/{0}/"/>
    <add key="eventCardPhotoesLink" value="/Eventcard/{0}/photoes/"/>
    <add key="eventCardVideosLink" value="/Eventcard/{0}/videos/"/>
    <add key="eventCardCommentsLink" value="/Eventcard/{0}/comments/"/>
    <add key="cityLink" value="/City/{0}/"/>
    <add key="contractorImagesPath" value="{0}/images/{1}/avatar_{2}.png"/>
    <add key="contactorThumbPhotoes" value="{0}/images/thumb/{1}/{2}_{3}_{4}.png"/>
    <add key="Images" value="/Images"/>
    <add key="clearFormTag" value="^&lt;form(\s|\S)*?&gt;(?&lt;html&gt;(\s|\S)*)&lt;/form&gt;$"/>
    <add key="htmlCodeInsideFormTag" value="${html}"/>
    <add key="imageNameTemplate" value="{0}_{1}_{2}.jpg"/>
  </appSettings>
  <masquaradueRules>
    <rules>
      <add key="contractorsLink" regex="^/contractor/(?&lt;contractor&gt;\d{1,5})/$" request="{0}/contractor/{1}/" link="~/contractor.aspx?contractor=${contractor}" enableUnauthAccess="true" isHandler="false"/>
      <add key="subcategoryLink" regex="^/subcategory/(?&lt;subcategory&gt;\d{1,5})/$" request="{0}/subcategory/{1}/" link="~/catalog.aspx?subcategory=${subcategory}" enableUnauthAccess="true" isHandler="false"/>
      <add key="contractorsCategoryLink" regex="^/subcategory/(?&lt;subcategory&gt;\d{1,5})/contractor/(?&lt;contractor&gt;\d{1,5})/$" request="{0}/subcategory/{1}/contractor/{2}/" link="~/contractor.aspx?subcategory=${subcategory}&amp;contractor=${contractor}" enableUnauthAccess="true" isHandler="false"/>
      <add key="contractorAvatar" regex="^/Images/(?&lt;login&gt;.*)/avatar_(?&lt;size&gt;\d{1,4}).png$" link="{0}/Avatar.ashx?login=${login}&amp;size=${size}" request="{0}/Images/{1}/avatar_{2}.png" enableUnauthAccess="true" isHandler="false"/>
      <add key="contractorAvatarRnd" regex="^/Images/(?&lt;login&gt;.*)/avatar_(?&lt;size&gt;\d{1,4}).png\?rnd=\d{1,9}$" link="{0}/Avatar.ashx?login=${login}&amp;size=${size}&amp;rnd" request="{0}/Images/{1}/avatar_{2}.png" enableUnauthAccess="true" isHandler="false"/>
      <add key="contactorThumbPhotoes" regex="^/images/thumb/(?&lt;login&gt;.*)/(?&lt;photoname&gt;.*)_(?&lt;width&gt;\d{2,4})_(?&lt;height&gt;\d{2,4}).png$" link="{0}/PhotoThumbnail.ashx?login=${login}&amp;photoname=${photoname}&amp;width=${width}&amp;height=${height}" request="{0}/Images/thumb/{1}/{2}_{3}_{4}.png" enableUnauthAccess="true" isHandler="false"/>
      <add key="contactorPhotoes" regex="^/images/full/(?&lt;login&gt;.*)/(?&lt;photoname&gt;.*)_(?&lt;width&gt;\d{2,4})_(?&lt;height&gt;\d{2,4}).png$" link="{0}/Photo.ashx?login=${login}&amp;photoname=${photoname}&amp;width=${width}&amp;height=${height}" request="{0}/images/full/{1}/{2}_{3}_{4}.png" enableUnauthAccess="true" isHandler="false"/>
      <add key="articleImage" regex="^/Images/Articles/(?&lt;isshort&gt;(1|0))/(?&lt;id&gt;\d{1,10})/icon.png$" link="Article.ashx?id=${id}&amp;isshort=${isshort}" request="{0}/Images/Articles/{1}/{2}/icon.png" enableUnauthAccess="true" isHandler="false"/>
      <add key="article" regex="^/articles/(?&lt;id&gt;\d{1,10})/$" link="~/article.aspx?id=${id}" request="{0}/articles/{1}/" enableUnauthAccess="true" isHandler="false"/>
      <add key="news" regex="^/news/(?&lt;id&gt;\d{1,10})/$" link="~/news.aspx?id=${id}" request="{0}/news/{1}/" enableUnauthAccess="true" isHandler="false"/>
      <add key="createeventcard" regex="^/eventcard/create/$" link="/CreateEventCard.aspx" request="{0}/eventcard/create/" enableUnauthAccess="true" isHandler="false"/>
      <add key="eventCardLink" regex="^/eventcard/(?&lt;id&gt;\d{1,10})/$" link="~/eventcardpage.aspx?id=${id}" request="{0}/eventcard/{1}/" enableUnauthAccess="true" isHandler="false"/>
      <!-- Ссылки в кабинете контрагента сверху -->
      <add key="contractorCabinet" regex="^/events/$" link="~/ContractorCabinet.aspx" request="{0}/events/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor"/>
      <add key="contractorCabinet" regex="^/events/$" link="~/Events.aspx" request="{0}/events/" enableUnauthAccess="false" isHandler="false" actualRoles="SimpleUser"/>
      <add key="contractorReports" regex="^/reps/$" link="~/Reports.aspx" request="{0}/reps/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor"/>
      <add key="contractorReportsWithSubcategoryId" regex="^/reports/(?&lt;sc&gt;\d{1,7})/$" link="~/Reports.aspx?sc=${sc}" request="{0}/reports/{1}" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor"/>
      <add key="favourites" regex="^/favourites/$" link="~/Favourites.aspx" request="{0}/favourites/" enableUnauthAccess="false" isHandler="false" actualRoles="SimpleUser,Contractor"/>
      <!-- Ссылки в кабинете контрагента сверху -->
      <!--Ссылки сообщений в кабинете контрагента -->
      <add key="contractorMessages" regex="^/messages/$" link="~/Messages.aspx" request="{0}/eventcard/messages/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor,SimpleUser"/>
      <add key="contractorCabinet" regex="^/messages/ec(?&lt;ec&gt;\d{1,7})/$" link="~/Messages.aspx?ec=${ec}" request="{0}/messages/{1}/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor,SimpleUser"/>
      <add key="contractorCabinet" regex="^/messages/(?&lt;d&gt;\d{4}-\d{2}-\d{2})/$" link="~/Messages.aspx?d=${d}" request="{0}/messages/{1}/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor,SimpleUser"/>
      <add key="contractorCabinet" regex="^/messages/(?&lt;type&gt;(in|out))/$" link="~/Messages.aspx?t=${type}" request="{0}/messages/{1}/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor,SimpleUser"/>
      <add key="contractorCabinet" regex="^/messages/(?&lt;type&gt;(in|out))/ec(?&lt;ec&gt;\d{1,7})/$" link="~/Messages.aspx?t=${type}&amp;ec=${ec}" request="{0}/messages/{1}/{2}/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor,SimpleUser"/>
      <add key="contractorCabinet" regex="^/messages/(?&lt;type&gt;(in|out))/(?&lt;ec&gt;\d{4}-\d{2}-\d{2})/$" link="~/Messages.aspx?t=${type}&amp;d=${d}" request="{0}/messages/{1}/{2}/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor,SimpleUser"/>
      <!--Ссылки сообщений в кабинете контрагента -->
      <!--Ссылки настройки в кабинете контрагента -->
      <add key="contractorPreferences" regex="^/preferences/$" link="~/Preferences.aspx?type=private" request="{0}/preferences/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor,SimpleUser"/>
      <add key="contractorPreferencesWithType" regex="^/preferences/(?&lt;type&gt;\w{1,7})/$" link="~/Preferences.aspx?type=${type}" request="{0}/preferences/{1}/" enableUnauthAccess="false" isHandler="false" actualRoles="Contractor,SimpleUser"/>
      <!--Ссылки настройки в кабинете контрагента -->
      <!--Хендлер подтверждения регистрации-->
      <add key="approveRegistrationHandler" regex="^/approve/(?&lt;salt&gt;(\{{0,1}([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}\}{0,1}))/$" link="~/handlers/approve.ashx?salt=${salt}" request="{0}/approve/{1}/" enableUnauthAccess="false" isHandler="true"/>
      <!--Хендлер подтверждения регистрации-->




    </rules>
  </masquaradueRules>
  <processingImageSizes>
    <sizes>
      <size width="500" height="500" />
      <size width="800" height="800" />
      <size width="1024" height="1024" />
      <size width="1280" height="1280" />
    </sizes>
    <avatarSizes>
      <add width="52" />
      <add width="76" />
      <add width="104" />
    </avatarSizes>
  </processingImageSizes>
  <connectionStrings>
    <clear/>
    <!--<add name="YourDayEntities" connectionString="metadata=res://*/YourDay.csdl|res://*/YourDay.ssdl|res://*/YourDay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=95.161.10.41;Initial Catalog=YourDay_v4;Persist Security Info=True;User Id=sa;Password=111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="SecurityEntities" connectionString="metadata=res://*/Security.csdl|res://*/Security.ssdl|res://*/Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=95.161.10.41;Initial Catalog=YourDay_v4;User Id=sa;Password=111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="YourDayEntities" connectionString="metadata=res://*/YourDay.csdl|res://*/YourDay.ssdl|res://*/YourDay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=YourDay_v4;Persist Security Info=True;User Id=vl;Password=111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SecurityEntities" connectionString="metadata=res://*/Security.csdl|res://*/Security.ssdl|res://*/Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=YourDay_v4;User Id=vl;Password=111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MailEntities" connectionString="metadata=res://*/Mail.csdl|res://*/Mail.ssdl|res://*/Mail.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=YourDay_v4;User Id=vl;Password=111;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>